<div id="comment-<%= comment._id %>">
    <div id="comment-container">
        <div id="comment-content">
            <%= comment.content %>
        </div>

        <div id="comment-username">
            <%= comment.user.name %>
            <p><%= comment.createdAt %></p>
        </div>
        <div id="delete-like-container">
            <!--Display the likes of this comment, if the user is logged in, then show the link to toggle likes,else just show the count-->
            <div id="like-comment-container">
                <% if (locals.user){ %>
                    <a class="toggle-like-button" data-likes="<%= comment.likes.length %>" href="/likes/toggle/?id=<%=comment._id%>&type=Comment">
                        <%= comment.likes.length %> <i class="fas fa-thumbs-up"></i>
                    </a>
                    <a class="toggle-unlike-button" data-unlikes="<%= comment.unlikes.length%>" href="/unlikes/toggle-unlike/?id=<%=comment._id%>&type=Comment">
                        <%= comment.unlikes.length%> <i class="fas fa-thumbs-down"></i>
                    </a>
                <% }else{ %>
                    <%= comment.likes.length %> <i class="fas fa-thumbs-up"></i>
                    <%= comment.unlikes.length %> <i class="fas fa-thumbs-down"></i>
                <% } %>
            </div>
            <div id="delete-comment-container">
            <% if (locals.user && locals.user.id == comment.user._id){ %>
                <div class="delete-comment-button">
                    <a href="/comments/destroy/<%= comment.id %>"><i class="far fa-trash-alt"></i></a>
                </div>
            <% } %>
            </div>
        </div>
        <br>
    </div>    
</div>