<link rel="stylesheet" href="/css/user_profile.css">


<div id="user-image">
    <img src="<%=profile_user.avatar%>" alt="<%=profile_user.name%>">
</div>

<div id="profile-update-container">
    <div id="update-form-container">
    <% if(user.id == profile_user.id){%>
        <!-- if user matches then show the form -->
        <form action="/users/update/<%=profile_user.id%>" method="POST" enctype="multipart/form-data">
            <input type="file" name="avatar" id="" placeholder="Profile Picture">
            <input type="text" name="name" placeholder="Your Name" value="<%=profile_user.name%>" required>
            <input type="text" name="email" placeholder="Your Email" value="<%=profile_user.email%>" required>
    
            <input id="update-button" type="submit" value="Update Profile" >
        </form>
    
        <% for(request of user.receivedRequests){%>
        <p><%=request._id%></p>
        <form action="/users/accept-request/<%=profile_user.id%>/<%=request._id%>" method="POST">
            <input type="submit" value="accept" name="receivedRequests" id="accept-<%=request._id%>">
        </form>
        <%}%>
    </div>
    <div id="profile-container">
    <%}else{%>
        <!-- else show the profile info -->
        
        <p><%= profile_user.name %></p>
        <p><%= profile_user.email %></p>
        <% for(friend of profile_user.friends){%>
            <% if(user.id == friend._id ){%>
                You're already friend of <%=user.name%>.
            <%}%>
        <%}%>
        
        <form action="/users/send-request/<%=user.id%>/<%=profile_user.id%>" method="POST">
            <input type="submit" value="Send Request">
        </form>
    <%}%>
    </div>
</div>